header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header.sticky {
  padding: 5px 100px;
  background: #fff;
  height: 80px;
}
header .logo {
  display: inline-block;
  transition: 0.6s;
  width: 160px;
  height: 75px;
  object-fit: contain;
}
header ul {
  position: relative;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}

/* This section covers the font formatting of the text in the header */
header ul li a {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}

/* This section covers the underline effect on the header's buttons */
header ul li a::after {
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 0.3s ease;
}

header ul li a:hover::after {
  width: 100%;
}

/* When you scroll, this is the banner format */
header.sticky ul li a {
  color: #000;
  font-weight: 600;
}

/* This is the "LET'S TALK" button in the header */
header button {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  display: inline-block;
  border: 0;
  height: 50px;
  width: 160px;
  background-color: #525252;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
header button:hover {
  border: 3px solid #525252;
  background-color: rgb(255, 255, 255);
  color: #000;
}
header.sticky .logo {
  filter: invert(1);
}
